# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
logs/
temp/
isaacgym/
unitree_rl_gym/
*.conf
corl_figs/
corl_ckpts/
*.pkl

# C extensions

*.bak
# Distribution / packaging
.Python
data/
build/
debug/
develop-eggs/
isaacgym
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.tar.gz
test*
MANIFEST
