<?xml version="1.0"?>
<robot name="stone">
  <link name="stone">
    <contact>
        <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="25.0"/>
      <inertia ixx="0.15" ixy="0" ixz="0" iyy="0.15" iyz="0" izz="0.15"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="stone.obj" scale="0.5 0.5 0.5"/>
      </geometry>
      <material name="blockmat">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="stone.obj" scale="0.5 0.5 0.5"/>
      </geometry>
    </collision>
  </link>
</robot>